<html>
    <head>
        <title>$i18n.getText("mailrucal.title")</title>
        <meta name="decorator" content="atl.general"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("ru.mail.jira.plugins.mailrucal:jcalendar")
    </head>
    <body class="workarea">
        <table width="100%">
            <tr>
                <td width="80%" valign="top" class="centerframe">
                    <div id='simplecalendar'></div>
                </td>
                <td width="20%" valign="top" class="rightframe">
                    <div class="rightbox">
                        <div class="optionbox">
                        <table width="100%">
                            <tr>
                                <td><span class="groupheader">$i18n.getText("mailrucal.calviewgroup")</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="fullsize group_opt_margin pointer" onclick="changeWeekendsView('$baseUrl');">
                                        #if($usrPref.isHideWeekend())$i18n.getText("mailrucal.showweekends")#else$i18n.getText("mailrucal.hideweekends")#end
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="fullsize group_opt_margin pointer" onclick="changeShowTimeView('$baseUrl');">
                                        #if($usrPref.isShowTime())$i18n.getText("mailrucal.hidefulltime")#else$i18n.getText("mailrucal.showfulltime")#end
                                    </button>
                                </td>
                            </tr>
                        </table>
                        </div>
                        <div class="optionbox">
                        <table width="100%">
                            <tr>
                                <td><span class="groupheader">$i18n.getText("mailrucal.calactiongroup")</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="addMailRuCalendarBtn" name="addMailRuCalendarBtn" class="fullsize pointer" onclick="addMailRuCalendar(event, '$baseUrl')">
                                        $i18n.getText("mailrucal.addcal")
                                    </button>
                                </td>
                            </tr>
                        </table>
                        </div>
                        <div class="calendar_box">
                            <div class="optionbox">
                                <table width="100%">
                                    <tr>
                                        <td><span class="groupheader">$i18n.getText("mailrucal.allcals")</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="list_calendars group_opt_margin">
                                                <table class="calendars_table">
                                                    #foreach($proj in $usrData)
                                                    <tr class="calendar_row">
                                                        <td width="10%" class="calendar_clm">
                                                            <input title="$i18n.getText('mailrucal.showhidecalendaract')" class="pointer" type="checkbox" onclick="changeCalMode('$baseUrl', $proj.getCalId())" id="$proj.getCalId()" name="$proj.getCalId()"/>
                                                        </td>
                                                        <td width="50%" class="calendar_clm">
                                                            <span class="breakwords" #if($usrPref.isUserColor($proj.getCalId()))style="font-weight: bold; color: $usrPref.getUserColor($proj.getCalId()); cursor: pointer;"#else style="font-weight: bold; color: $proj.getColor(); cursor: pointer;"#end onclick="showOnlyThisCal()">$proj.getName()</span>
                                                        </td>
                                                        <td width="40%" class="calendar_clm">
                                                            <img class="actimg pointer" onclick="editMailRuCalendar(event, '$baseUrl', $proj.getCalId())" height="16px" width="16px" src="$baseUrl/images/icons/tools_20.png" title="$i18n.getText('mailrucal.settingscalendaract')" alt="$i18n.getText('mailrucal.settingscalendaract')"/>
                                                            #if(!$proj.getCreator() || $proj.getCreator().equals($user))
                                                            <img class="actimg pointer" onclick="actMailRuCalendar(event, '$baseUrl', $proj.getCalId())" height="16px" width="16px" src="$baseUrl/images/icons/confg_16.gif" title="$i18n.getText('mailrucal.editcalendaract')" alt="$i18n.getText('mailrucal.editcalendaract')"/>
                                                            <img class="actimg pointer" onclick="deleteMailRuCalendar(event, '$baseUrl', $proj.getCalId());" height="16px" width="16px" src="$baseUrl/images/icons/trash_16.gif" title="$i18n.getText('mailrucal.deletecalendaract')" alt="$i18n.getText('mailrucal.deletecalendaract')"/>
                                                            #end
                                                        </td>
                                                    </tr>
                                                    #end
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div id='loading' style='display:none;'>$i18n.getText("mailrucal.loading")</div>
        #parse("templates/mailrucal_script.vm")
    </body>
</html>
